:root{
    --blue: rgb(2, 26, 38);
    --green: rgb(34, 255, 113);
    --orange: #FF4949;
    --purple: rgb(40, 0, 200);
}

.btn{
    border-radius: 30px;
}

.button{
    border-style: none;
    width: 200px;
    border-bottom: solid 7px var(--purple);
}




