<div class="container-fluid bg-blue footer py-4 text-white d-flex flex-column justify-self-end mt-auto">
    <div class="child d-flex justify-content-center mx-auto mb-5 mt-4">
        <a class="navbar-brand text-light" href="#"><i class="fas fa-infinity fa-2x"></i><i class="fa-solid fa-8 fa-2x color-green"></i><i class="fas fa-infinity fa-2x"></i></a>
    </div>
    <div class="wrapper row justify-content-around mb-5">
        <div class="child col-2">
            <h3>Trifle</h3>
            <ul class="contacts list-unstyled fw-lighter">
                <li>About</li>
                <li>What we Offer</li>
                <li>Leadership</li>
                <li>Careers</li>
                <li>Catalog</li>
                <li>For Campus</li>
            </ul>
        </div>
        <div class="child col-2">
            <h3>Community</h3>
            <ul class="contacts list-unstyled fw-lighter">
                <li>Teachers</li>
                <li>Learners</li>
                <li>Developers</li>
                <li>Translators</li>
                <li>Testers</li>
            </ul>
        </div>
        <div class="child col-2">
            <h3>More</h3>
            <ul class="contacts list-unstyled fw-lighter">
                <li>Press</li>
                <li>Investors</li>
                <li>Terms</li>
                <li>Privacy</li>
                <li>Help</li>
                <li>Articles</li>
            </ul>
        </div>
        <div class="child col-2">
            <h3>Contacts</h3>
            <ul class="contacts list-unstyled fw-lighter">
                <li>moussaniang@gmail.com</li>
                <li>BP A10, Thiès, Sénégal</li>
                <li>+00221 77 123 48 23</li>
            </ul>
        </div>
    </div>

    <div class="col-2 d-flex mx-auto justify-content-between mb-5">
        <i class="fa-brands fa-facebook fa-2x"></i>
        <i class="fa-brands fa-twitter fa-2x"></i>
        <i class="fa-brands fa-instagram fa-2x"></i>
        <i class="fa-brands fa-linkedin fa-2x"></i>
    </div>

    <div class="copyright text-center">
        © 2022 Trifle Inc. All rights reserved.
    </div>
</div>